{% extends "users\base.html" %}

{% block content %}
 
 Welcome {{user}}

 <h4> your Posts</h4>
  
  {% comment %} user, text, created_at, updated_at  {% endcomment %}


{% if post %}
{% for p in post %}
  <p> {{p.text}}  </p> <a  style="flex:inline" href = {% url "update_post" p.id %}> Update Post</a></br></br>
{% endfor %}

{% endif %}
 
 <div style="margin-top:50px">
  
    <form action="/loginuser/post/" method="POST">{% csrf_token %}
            <label for="w3review">Write text:</label>
            <textarea  rows="4" cols="50" name="post_text" placeholder="Write text and post"  required></textarea> 
            {% comment %} <textarea rows="4" cols="50" name="comment" required></textarea> {% endcomment %}
             </br></br>
            <input type="submit">
    </form>
</div>
         
    {% endblock content %}